*{
    margin: 0;
    padding: 0;
}

:root{

    --primary-font:"Lexend Deca";
    --secondary-font:"Big Shoulders";

    --Gold500: hsl(31, 77%, 52%);
    --Cyan800: hsl(184, 100%, 22%);
    --Green950: hsl(179, 100%, 13%);

    --primary-color: hsla(0, 0%, 100%, 0.75);
    --secondary-color: hsl(0, 0%, 95%);
}

body{
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 340px;
    margin: auto;
}

.primary-section{
    background-color: var(--Gold500);
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 3rem 3rem;
    border-radius: 10px 10px 0 0;
}

.secundary-section{
    background-color: var(--Cyan800);
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 3rem 3rem;
}

.tertiary-section{
    background-color: var(--Green950);
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 3rem 3rem;
    border-radius: 0 0 10px 10px;
}

img{
    width: 60px;
    height: 35px;
    margin-bottom: 1.8rem;
}

h1{
    font-size: 34px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    text-transform: uppercase;
}

p{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 15px;
    margin: 1.5rem 2rem 1.5rem 0;
    line-height: 1.8;
}

button{
    display: flex;
    cursor: pointer;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
    
}

button:hover {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}
    
button:hover>span {
    color: white;
}

.button-paragraph-primary{
    color: var(--Gold500);
}

.button-paragraph-secondary{
    color: var(--Cyan800);
}

.button-paragraph-tertiary{
    color: var(--Green950);
}

@media screen and (min-width: 1440px) {

    main {
        display: flex;
        flex-direction: row;
        width: 900px;
    }

    .primary-section {
        border-radius: 10px 0 0 10px;
    }

    .tertiary-section {
        border-radius: 0 10px 10px 0;
    }

    img{
        margin-bottom: 1.8rem;
    }

    h1{
        font-size: 34px;
    }
    p {
        margin: 2rem 0.8rem 4rem 0;
    }
}