* {
    margin: 0;
    padding: 0;
}

:root {
    
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);

    --Green500: hsl(158, 36%, 37%);
    --Green700: hsl(158, 42%, 18%);

    --FontPrimary: 'Montserrat';
    --FontSecondary: 'Fraunces';

}

body {
    background-color: var(--Cream);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
  background: var(--White);
  width: 340px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.img {
  background-image: url('/desafio-vitor/Desafio_N°1/img/image-product-mobile.jpg');
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.container-description{
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

  h1 {
  font-family: var(--FontSecondary);
  color: var(--Black);
  font-weight: 700;
  margin: 0.8rem 0 1.2rem 0;
  line-height: 0.9;
}

   h2 {
  font-family: var(--FontPrimary);
  color: var(--Grey);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 5px;
}

   p {
  font-family: var(--FontPrimary);
  color: var(--Grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.card-purchase {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1.5rem 0 1rem 0;
}

.current-price {
  font-family: var(--FontSecondary);
  color: var(--Green500);
  font-size: 32px;
  font-weight: 700;
  margin-right: 0.8rem;
}

.original-price {
  font-family: var(--FontSecondary);
  color: var(--Grey);
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}

.purchase-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: var(--Green500);
    color: var(--White);
    font-family: var(--FontPrimary);
    font-weight: 500;
    padding: 25px;
    border: none;
    border-radius: 10px;
}

.purchase-button img {
  margin-right: 10px ;
}

.purchase-button:hover{
    background-color: var(--Green700);
}


@media screen and (min-width: 1440px) {

    main{
      display: flex;
        flex-direction: row;
        width: 560px;
        height: 420px;
    }

    .img {
        background-image: url('/desafio-vitor/Desafio_N°1/img/image-product-desktop.jpg');  
        background-size: cover;
        width: 280px;
        height: auto;
        border-radius: 10px 0 0 10px;
    }

    .container-description{
      display: flex;
      flex-direction: column;
      width: 225px;
      justify-content: center;
      padding: 0 1.5rem 0 1.5rem;
    }

    h1 {
    margin: 1.5rem 0 1.5rem 0;
  }

  .card-purchase{
    margin: 1.5rem 0 1.5rem 0;
  }

  .card-button{
    padding: 0 1.5rem 0 1.5rem;
  }

}